body {
  /* Blue color */
  background-color: #0000FF;
}

/* "#" symbol means that we are targeting an ID attribute from the HTML */
#website-title {
  text-align: center;
  font-size: 45px;
  /* White color */
  color: #FFFFFF;
  font-style: italic;
}
/* "." symbol means that we are targeting a CLASS attribute from the HTML */
.animated-div {
  width: 300px;
  height: 300px;
  background-color: orange;
  margin-top: 20px;
}

.animated-div:hover {
  background-color: purple;
}
